# Archivos compilados de Ant
/build/
/dist/

# Archivos de NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
.nb-gradle/

# Logs y archivos del sistema
*.log
.DS_Store

# Configuración local (credenciales)
/src/utn/tfi/grupo7/config/config.properties